<div class="container-fluid trangchu">

    <app-header></app-header>

    <div class="dexuat">
        <app-carousel></app-carousel>
        <div class="container">
            <div class="dexuat_box">
                <p class="box_title">Phim Đề Xuất - Top Trend</p>

            </div>
        </div>

    </div>


    <div class="container-fluid mt-4 content_DeXuat">
        <div class="container  list_DeXuat">
            <app-list-de-xuat></app-list-de-xuat>
        </div>
    </div>





</div>
<!-- <div class="container">
    <app-loai-phim></app-loai-phim>
</div> -->

<div class="container-fluid app">
    <div class="container app__content ">
       <app-phone-app></app-phone-app>
    </div>
</div>


<div class="container-fluid footer">
        <div class="container footer__content ">
           <app-footer></app-footer>
        </div>
    </div>