.header {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
 




  .navbar {
      display: flex;
  justify-content: space-between;
    img {
      margin-right: 40px;
      font-size: 30px;
    }

    .nav_userDK{
      i{
        padding-right: 2px;
        font-size: 16px;
      }
    }

    .nav-item {
      margin: 0 2px;
      position: relative;
      padding: 0 8px;
     

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        top: 93%;
        left: 0%;
        background: linear-gradient(to right, rgba(240, 202, 158, 0.925), rgb(241, 163, 93), rgb(196, 102, 20));
        transition: 0.5s;
      }
      &:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: 93%;
        left: 0%;
        background: linear-gradient(to right, rgba(240, 202, 158, 0.925), rgb(241, 163, 93), rgb(196, 102, 20));
      }
    }
    .navbar-nav {
      margin: 0 auto;

      .nav_form {
        .btn {
          background-color: rgb(212, 117, 53);
          margin-right: 50px;
          font-size: 14px;
          border: 2px solid rgb(212, 117, 53);
          transition: 0.5s;
          &:hover{
            color:rgb(231, 102, 16);
            background-color: #fff;
            border: 2px solid rgb(187, 80, 9);
          }
        }
        .nav_input {
          &::placeholder {
            font-size: 14px;
            font-style: italic;
          }
        }
      }
    }
  }
}
